.bg-nav{
    background-color: #400305;
}
 
.txt-brand{
    color: white;
}
.img-h{
    height: 550px;
}
.head{
font-size: 45px;
margin-top: -200px;
color: #520713
}
.head-1{
   
font-size: 45px;
margin-top: -200px;
color: #320308;
}
.para{
    font-weight: 900;
}
.para-1{
 font-weight: 900;
}